<?php

/**
 * PHP version 7.4.2
 * 
 * @author Robin Bidanchon <robin.bidanchon@gmail.com>
 * @link http://domaine.com/
 */

namespace App\Bundle\Controllers;

use App\Foundation\Router;
use App\Foundation\Controller;

/**
 * @category Controller
 * @package TimePHP
 * @subpackage Bundle\Controller
 * @link http://domaine.com
 */
class %Controller% extends Controller
{

}